---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1 class="text-white dark:text-blue-200">About The Project</h1>
    <p class="text-white dark:text-blue-200">
        The SpaceX launches project is a demo for the Astro course
    </p>
</Layout>
