---
import CardAstro from "../components/CardAbout.astro";
import AboutLayout from "../layouts/aboutLayout.astro";
---

<AboutLayout title="Tunas" description="Acerca de Tony Ayala">
    <h1>Acerca de Tony Ayala</h1>
    <CardAstro title="Cocinar" description="I love cooking" />
    <CardAstro title="Videojuegos" description="I like videogames" />
    <CardAstro title="Videogames" description="I like videogames" />
</AboutLayout>
