---
import AsideMenu from "@/components/AsideMenu.astro";
import { Player } from "@/components/Player.jsx";
import { ViewTransitions } from "astro:transitions";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body class="min-h-screen">
        <div id="app" class="gap-2 p-2 h-screen relative">
            <aside class="bg-zinc-900 flex-col flex overflow-y-auto" id="aside">
                <AsideMenu />
            </aside>
            <main class="bg-zinc-900 overflow-y-auto rounded-lg" id="main">
                <slot />
            </main>
            <footer class="bg-zinc-900 min-h-[100px]" id="player">
                <Player
                    client:load
                    transition:name="media-player"
                    transition:persist
                />
            </footer>
        </div>
        <style is:global>
            @font-face {
                font-family: "CircularStd";
                src: url("/fonts/CircularStd-Book.woff2") format("woff2");
                font-weight: normal;
                font-style: normal;
            }
            html {
                font-family: "CircularStd", sans-serif;
                box-sizing: border-box;
                background-color: #010101;
                color: white;
            }
            #app {
                display: grid;
                grid-template-areas: "aside main main" "player player player";
                grid-template-columns: 350px 1fr;
                grid-template-rows: 1fr auto;
            }
            #aside {
                grid-area: aside;
            }
            #main {
                grid-area: main;
            }
            #player {
                grid-area: player;
            }

            @media (width < 920px) {
                #app {
                    display: grid;
                    grid-template-areas: "aside main main" "player player player";
                    grid-template-columns: 100px auto;
                    grid-template-rows: 1fr auto;
                }
                #aside {
                    grid-area: aside;
                }
                #main {
                    grid-area: main;
                }
                #player {
                    grid-area: player;
                }
            }
        </style>
    </body>
</html>
