---
import SocialMedia from "./SocialMedia.astro";
---

<footer
    class="bg-dimPink flex flex-col md:flex-row p-14 gap-6 md:gap-3 rounded-t-3xl"
>
    <div class="container mx-auto max-w-5xl flex justify-between">
        <div class="flex flex-col gap-4">
            <b class="italic">Jose Antonio Mora Ayala</b>
            <small>Desarrollador Web</small>
            <small>Sitio creado con Astro</small>
        </div>
        <SocialMedia />
    </div>
</footer>
